html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* para usar mejor box model */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10em;
  color: white;
  background-image: url("./img/fondo.webp");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
}
